  
    body {
        font-family: "メイリオ" ;
        color: #000000;
        margin: 0;
        text-align: center;
      }
    
      header{
        background-color: #bfd3c1;
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }
      header ul{
        margin: 0px;
      }
      header ul li {
        display: inline-block;
        padding: 0 20px;
      }
        
    header ul li a {
        color: #7f95d1;
        font-size: 20px;
        text-decoration: none;
      }
      header img {
        height: 30px;
      }
      footer{
        background-color: #e7edff;
        color: #ffebe7;
        padding: 10px;
      }
        
    .top {
        background-image: url(image/banner.jpg);
        background-size: cover;
        padding: 200px 0;
      }
      .top h1 {
        font-size: 70px;
        letter-spacing: 5px;
      }
      .about{
        background-color: #e7ffff;
        padding: 100px;
        
      }
      
    h2{
        margin: 0;
      }
      hr{
        margin-bottom: 50px;
        height: 5px;
        width: 100px;
        border: none;
      }

        
    .blue-line{
        background-color: #7BC3D1;
      }
      .about table{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        border: double 5px #4ec4d3;
      }
      .skills{
        background-color: #bfd3c1;
        padding: 100px;
      }
      .box{
        background: #ffebe7;
        border-radius: 10px;
        display: inline-block;
        padding: 20px;
        margin: 20px;
        width: 30%;
      }
      
      .box img{
        display: block;
        margin: 50px auto;
        width: 80%;
      }
      .card {
        background: #FFFFFF;
        border-radius: 5px;
        display: inline-block;
        margin: 20px;
        width: 25%;
      }
      .card img {
        border-radius: 5px 5px 0 0;
        width: 100%;
      }
      .anime_test {
        display: block; /* ブロック要素にする */
        margin: 0 auto; /* 要素中央揃え */
        position: relative; /* 位置指定 */
        animation: anime1 1s ease; /* アニメーション指定 */
    }
